.searchHeader {
  background-color: #ff4500;
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 6px #2e2f4214, 0 1px 1px #2e2f4229, 0 2px 1px #2e2f4214;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 20px;
}

.inputSearch {
  width: 320px;
  border-radius: 7px;
  border: 1px solid #000000;
  outline: transparent;
  padding: 10px 16px;
}

.inputSearch:focus,
.inputSearch:hover {
  border-color: #000000;
}

.btnSearch {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.04em;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 25px;
  margin-left: -10px;
}

.btnSearch:hover,
.btnSearch:focus {
  background-color: #ff4500;
}
